<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="author">Author</div>
    <div class="year-1950">1950</div>
    <div class="author-description">Short description about the author.</div>
    <div class="group-1">
        <div class="title-1">Title #1</div>
        <div class="book-description-1">Book description.</div>
        <div class="rectangle-1"></div>
    </div>
    <div class="group-2">
        <div class="title-2">Title #2</div>
        <div class="book-description-2">Book description.</div>
        <div class="rectangle-2"></div>
    </div>
    <div class="icon-chevron_left"></div>
    <div class="chevron-left-thin"></div>
    <div class="search-icon"></div>
    <div class="search-vector"></div>
    <div class="bookmarks-icon"></div>
    <div class="bookmarks-vector"></div>
    <div class="bookmark-simple"></div>
    <div class="bookmark-simple-vector"></div>
    <div class="bookmark-simple-2"></div>
    <div class="bookmark-simple-vector-2"></div>

    <div class="frame-15295">
        <div class="chronological">chronological</div>
        <div class="tab-list"></div>
        <div class="frame-15296">
            <div class="rating">rating</div>
        </div>
    </div>
    <div class="frame-52"></div>
    <div class="frame-15295-2"></div>
    <div class="page-number">page number</div>
</body>
</html>
